* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: sans-serif;
    color: white;
    max-width: 100vw;
}

.Original-Link {
    width: 60px;
    height: 35px;
    display: flex;
    padding: 4px 10px;
    border-radius: 7px;
    background-color: red;
    z-index: 10;
    position: fixed;
    bottom: 40px;
    right: 7px;
}

.Original-Link a {
    color: white;
    text-decoration: none;
}

.main {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/fb5cb900-0cb6-4728-beb5-579b9af98fdd/web/IN-en-20250127-TRIFECTA-perspective_cf66f5a3-d894-4185-9106-5f45502fc387_large.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
}

@media screen and (max-width: 800px) {
    .main {
        height: 75vh;
    }
}

.BlackBox {
    background-color: black;
    height: 100vh;
    opacity: 0.8;
    width: 100vw;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: auto;
    height: 13vh;
}

nav .NetSvg {
    width: 148px;
    height: 40px;
    z-index: 10;
    position: relative;
}

@media screen and (max-width: 800px) {
    nav .NetSvg {
        width: 100px;
        height: 25px;
    }
}


nav .button {
    display: flex;
    gap: 10px;
    z-index: 10;
}

.Languagebt {
    padding: 6px 11px;
    border-radius: 4px;
    border: 0.5px solid rgba(255, 255, 255, 0.511);
    background-color: rgba(0, 0, 0, 0.347);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .Languagebt span {
        display: none;
    }
}


.Signbt {
    padding: 4px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: red;
    cursor: pointer;
}

.main-body {
    z-index: 10;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    gap: 15px;
    flex-wrap: wrap;
}


.para1 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    max-width: 405px;
}

.para2 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.para3 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
}

@media screen and (max-width:800px) {
    .main-body {
        max-width: 85vw;
    }

    .para1 {
        font-size: 33px;
    }

    .para3 {
        max-width: 84%;
        margin: auto;
    }
}


.inputBox {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
}

.Email-input {
    height: 24px;
    width: 291px;
    padding: 16px 16px 16px 16px;
    background-color: rgba(0, 0, 0, 0.205);
    border: 0.6px solid rgba(255, 255, 255, 0.317);
    color: white;
    border-radius: 4px;
    line-height: 24px;
}

.Email-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    height: 24px;
    font-size: 16px;
}


.Start-btn {
    background-color: red;
    color: white;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    gap: 7px;
    cursor: pointer;
    border-radius: 4px;
}

@media screen and (max-width:800px) {
    .Start-btn {
        margin: auto;
    }
}


.separator {
    height: 3px;
    width: 100vw;
    background-color: red;
}


.Content-holder {

    width: 100vw;
    margin-top: 30px;
    position: absolute;

}

.heading-1 {
    margin-left: 70px;
    font-size: 24px;
    font-weight: 500;

}

@media screen and (max-width: 800px) {
    .heading-1 {
        margin-left: 20px;
        font-size: 20px;
    }
}

.trending-now {
    position: relative;
    display: flex;
    max-width: 85vw;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}

@media screen and (max-width: 800px) {
    .trending-now {
        overflow: auto;
    }
}

.trends {
    width: 140px;
    height: 196px;
    border-radius: 7px;
    flex-wrap: wrap;
}

.trends:hover {
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.trends:not(:hover) {
    transform: scale(1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.trends-container {
    position: relative;
    height: 209px;
    width: 184px;
    display: flex;
}

.trending1 {
    background-image: url('https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABTixI7Cz0HVkuB1KQvyT9xedX83h2ob_PwNRW74psOcCGFKugKnc9ErhsaNh6JyyjGFS7ZLrxafx7yAkgdqlsT2kP9b0oGHIRnY.jpg?r=a92');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.trending2 {
    background-image: url('https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZMosKxdFgxev7W1YxooOu2wL_Kc3LwyYduCJ8nKme-kSdFXzCIRaMV4kYchreILRl6izcs-TrvJJCatDPe_vPwJ-wR6Zjk6yHTOXTM767pKfIrjgSGm5iTT5QFzgN6xjheO.jpg?r=06c');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.trending3 {
    background-image: url('https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABdtI3qpl44Mqt3cF7fLUeETUD2gmqPcRyZltCa4p2nJhI04eMY8JQ-mP4gqNZEc2ORSotMR3FJgelqWI29fe_k_2c3koayQSnCo.jpg?r=e1d');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.trending4 {
    background-image: url('https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABbZDakL7B7gFm7kcXQq_hxcJuDpHT8ayaajaSyJOeNpfiEIIVlB7P5QvlWStSGL2kfLtPXdhLUUovsIJ3WVtNZlktUfVAMf4R-g.jpg?r=4bd');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.trending5 {
    background-image: url('https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABX_xNOTBmGu3FZRr6uHRjt3XCQ0dvrWRpoxG6bM0pvzWyd0RmEM0nE6zC_dL2mSOxnDH35pNkSGSEQImCrYiHvRe83p0HqknTms.jpg?r=de2');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.trending6 {
    background-image: url('https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABUEGRIx8pMkzIHvS6XmVZgzHYZMG2dIBRVOVc3UXSqbxdOEjKzVBpEWQMUAnSyYy8jTsT6z7eIevymQ1FUCKMQa8UJGMD51Z_noJTVhLAwNamAYy4Iyxhh4gY-cjE0l-skj_.jpg?r=e02');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.more-reasons {
    margin-top: 50px;
    margin-left: 70px;
}

@media screen and (max-width:800px) {
    .more-reasons {
        margin: auto;
        height: 1000px;
    }
}


.heading-2 {
    font-size: 24px;
    font-weight: 500;
}

@media screen and (max-width:800px) {
    .heading-2 {
        margin-left: 20px;
        font-size: 20px;
    }
}


.reasons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 400px;
    max-width: 85vw;
    min-width: 85vw;
    gap: 10px;
    margin: 20px;
    align-content: center;
}

@media screen and (max-width:800px) {
    .reasons-container {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
    }
}


.reasons {
    border-radius: 10px;
    position: relative;
    padding: 24px 24px 96px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    cursor: pointer;
}

.Reason-para1 {
    font-size: 20px;
    font-weight: 500;
}

.Reason-para2 {
    font-size: 16px;
    font-weight: 400;
}

.reasons svg {
    position: absolute;
    bottom: 12px;
    right: 10px;
}

.heading-3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 70px;
}

@media screen and (max-width: 800px) {
    .heading-3 {
        font-size: 20px;
        margin-left: 20px;
    }
}

.FAQs {
    max-width: 85vw;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.questions {
    font-size: 24px;
    font-weight: 400;
    max-width: 85vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgb(45, 45, 45);
    align-items: center;
    height: 70px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .questions {
        font-size: 18px;
        padding: 4px 15px;
    }
}

.questions:hover {
    background-color: rgb(65, 65, 65);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
}

.questions:not(:hover) {
    background-color: rgb(45, 45, 45);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
}

@media screen and (max-width: 800px) {
    .Plus svg {
        height: 26px;
    }
}

.getStarted-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .getStarted-2 {
        margin-top: 70px;
    }
}

.heading-4 {
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 800px) {
    .heading-4 {
        margin-left: 20px;
    }
}

.Email-input-2 {
    height: 56px;
    width: 460px;
    padding-left: 16px;
    background-color: rgba(0, 0, 0, 0.205);
    border: 0.6px solid rgba(255, 255, 255, 0.317);
    color: white;
    border-radius: 4px;
    line-height: 24px;
}

@media screen and (max-width:800px) {
    .Email-input-2 {
        width: 85vw;
        margin: auto;
    }
}

.Email-input-2::placeholder {
    color: rgba(255, 255, 255, 0.7);
    height: 24px;
    font-size: 16px;
}

.Start-btn-2 {
    background-color: red;
    color: white;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    gap: 7px;
    cursor: pointer;
    border-radius: 4px;
}

@media screen and (max-width: 800px) {
    .Start-btn-2 {
        margin-left: 20px;
    }
}

footer {
    max-width: 85vw;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 53px;
}

.heading-5 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 800px) {
    footer {
        margin-top: 70px;
    }
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 800px) {
    .footer-links {
        grid-template-columns: repeat(1, 1fr);
    }
}

.footer-details {
    padding: 10px;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
    text-decoration-color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.Languagebt-2 {
    padding: 6px 11px;
    border-radius: 4px;
    border: 0.5px solid rgba(255, 255, 255, 0.511);
    background-color: rgba(0, 0, 0, 0.347);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 50px;
}

@media screen and (max-width: 800px) {
    .Languagebt-2 {
        margin-left: 20px;
    }
}

.Finish-line {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 100px;
}

@media screen and (max-width: 800px) {
    .Finish-line {
        margin-left: 20px;
    }
}